@tailwind base;
@tailwind utilities;
@tailwind components;

#__next {
    background-color: #EDEEEF;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

body {
    background-color: #EDEEEF;
}

.textDots1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container, .con {
    max-width: 1372px !important;
}

.search .ant-radio-checked .ant-radio-inner {
    border-color: #8338EC;
    background-color: #8338EC;
    width: 21px;
    height: 21px;
}

.search .ant-radio-inner {
    width: 21px;
    height: 21px;
}
.ant-btn-primary{
    background-color: #8338EC;
}
